.products {
  margin: 20px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.products__single {
  margin: 20px;
  height: 150px;
  padding: 20px;
  border-radius: 5px;
  background-color: lightgray;
  text-align: center;
  cursor: pointer;
}

.products__single > img {
  width: 100%;
  object-fit: cover;
  height: 95%;
}

.pagelist {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.pagelist__page {
  border: 1px gray solid;
  padding: 15px 20px;
  justify-content: center;
  cursor: pointer;
}
