* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-tabbar {
  display: flex;
  align-items: flex-start;
  width: 400px;
}
.tab {
  border: 1px solid black;
  cursor: pointer;
}
.profileSection {
  display: flex;
  flex-direction: column;
}
.input {
  width: 100px;
}

.formInput {
  display: flex;
  margin: 5px;
}

.activeContainer {
  border: 2px solid black;
  height: 400px;
  width: 400px;
  margin: 0px 5px;
}

.footerButton {
  display: flex;
  justify-content: center;
}

.error {
  display: block;
  color: red;
}
