* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-chip-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chips-component {
  height: 400px;
  width: 500px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chips-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.chips-item {
  margin: 5px;
}

.noBroder {
  border: none;
}
