.outer {
  border: 2px solid black;
  border-radius: 15px;
  margin: 5px;
  overflow: hidden;
}

.inner {
  /* width: 50%; */
  background-color: green;
  text-align: right;
  transition: 0.5s ease-in;
  /* color: white; */
}
