* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid black;
  height: 500px;
  width: 500px;
}

.search-input {
  width: 300px;
  padding: 10px;
  margin: 10px;
}

.Add-button {
  padding: 10px;
  margin: 10px;
}

.list-item {
  /* padding: 10px;
  margin: 10px; */
  margin-left: 20px;
}

.list-item-box {
  display: flex;
  justify-content: space-between;
}

.text-list {
  text-decoration: line-through;
}
